<h1 align="center">Listing All Categories</h1>

<% @categories.each do |category| %>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      <%= link_to "#{category.name}", category_path(category) %> 
      <br>
      <small><%= pluralize(category.articles.count, "article") %></small>
    </div>
  </div>
<% end %>

<%= will_paginate %>