<h1 align="center">Create new category</h1>

<%= render 'form' %>
  
<div class="col-xs-4 col-xs-offset-4" align="center">
  [ <%= link_to "Cancel Request & Return to articles listing", articles_path %> ]
</div>
